@(itemForm: Form[models.products.ItemOnSale],user: models.users.User)


@import helper._

@main("Add Item",user){
    <p class="lead">Add a new item</p>

    <!-- Use a views.html.helpers package method to create the form (instead of html)-->
    <!-- Note the arguments that are being passed to the scala function form (they are
         essentially instructions for constructing an HTML form element)-->
    @form(action=routes.HomeController.addItemSubmit(), 'class -> "form-horizontal", 'role -> "form",
           'method -> "POST", 'enctype -> "multipart/form-data") {
        @* CSRF attack prevention *@
        @* This token, sent by the controller, will be used to authenticate the form submission *@
        @CSRF.formField

        <!-- Use helper methods to add fields to the form -->
        <!-- Note that the form fields are related to the fields of the itemForm object -->
        <!-- Note the arguments that are being passed to the scala function inputText (they are 
             essentially instructions for constructing an HTML input element)-->
        <!-- Note the @select function's argument options. This needs to be a map of ids-to-names
             and this is provided by the method Category.options(), which we added to the Category
             class in the previous step. -->
            @inputText(itemForm("name"), '_label -> "Name", 'class -> "form-control")
            <p><strong>Categories</strong></p>
            @for((value, name) <- products.Category.options) {
                <input type="checkbox" name="catSelect[]" value="@value"  
                    @if(itemForm("id").getValue.isPresent && itemForm("id").getValue.get != "") { 
                        @if(products.Category.inCategory(value.toLong, itemForm("id").getValue.get.toLong)) {
                            checked
                        }
                    } 
                /> @name </br>
            }
            </p>
            
            @inputText(itemForm("description"), '_label -> "Description", 'class -> "form-control")
            @inputText(itemForm("stock"), '_label -> "Stock", 'class -> "form-control")
            @inputText(itemForm("price"), '_label -> "Price", 'class -> "form-control")

            <label>Image Upload</label>
            <input class="btn-sm btn-default" type="file" name="upload">    

            @inputText(itemForm("id"), '_label -> "", 'hidden -> "hidden")
            
            <!-- We use the bootstrap actions class for the buttons at the bottom:
                1. The submit button for the form
                2. A button that allows the user to cancel without adding an item
            -->
            <div class="actions">
                <input type="submit" value="Add/Update item" class="btn btn-primary">
                <a href="@routes.HomeController.onsale(0)">
                    <button type="button" class="btn btn-warning">Cancel</button>
                </a>
            </div>
    } @* end of form *@
} @* end of main *@