@(employees: List[models.users.Employee], departments: List[models.users.Department], user: models.users.User)
@main("Employees",user){
<h1>Current Employees</h1>

<div class="col-sm-3">
    <h4>Departments</h4>
    <div class="list-group">
        <a href="@routes.EmployeeController.usersEmployee(0)" class="list-group-item">All departments</a>
        @for(d<-departments){
            <a href="@routes.EmployeeController.usersEmployee(d.getId)" class="list-group-item catheight">@d.getName
                <span class="badge">@d.getEmployees.size</span>
            </a>
        }
    </div>
</div>

<div class="col-sm-9">
    <h4>Here are all the current employees on the system.</h4>
    <h4>Click on employee name to add/remove from projects</h4>
        <table class="table table-bordered table-hover table-condensed">
        <thead>

            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Street 1</th>
                <th>Street 2</th>
                <th>Town</th>
                <th>Postcode</th>
                <th>Department</th>
                <th>Edit</th>
                <th>Delete</th>
                
            </tr>
        </thead>
        <tbody>



            @for(e<-employees) { <tr>
                <td>@e.getEmail</td>
                <td><a href="@routes.EmployeeController.assignProjectToEmployee(e.getEmail)">@e.getName</a></td>
                <td>@e.getAddress().getStreet1</td>
                <td>@e.getAddress().getStreet2</td>
                <td>@e.getAddress().getTown</td>
                <td>@e.getAddress().getPostCode</td>
                <td>@e.getDepartment().getName()</td>

                <td>
                    <a href="@routes.EmployeeController.updateEmployee(e.getEmail)" class="button-xs btn-danger">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>

                <td>
                    <a href="@routes.EmployeeController.deleteEmployee(e.getEmail)" class="button-xs btn-danger"
                        onclick="return confirmDel();">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a href="@routes.EmployeeController.addEmployee()">
            <button class="btn btn-primary">Add a new Employee</button>
        </a>
    </p>
</div>
}