@(loginForm: Form[models.users.Login], user: models.users.User)
@import helper._

@main("Login", user) {
    <h3>Sign In</h3>

    @if(loginForm.hasGlobalErrors){
        <p class="alert alert-warning">
            @for(e <- loginForm.globalErrors){
                @e.message<br/>
            }
        </p>
    }

    @if(flash.containsKey("error")) {
        <div class="alert alert-success">
            @flash.get("error")
        </div>
    }

    @helper.form(action = controllers.routes.LoginController.loginSubmit()) {
        @CSRF.formField

        <div class="form-group">
            @inputText(loginForm("email"), '_label -> "",
            'class -> "form-control input-xs", 'placeholder -> "Email")
        </div>
        <div class="form-group">
            @inputPassword(loginForm("password"), '_label -> "",
            'class -> "form-control input-xs", 'placeholder -> "Password")
        </div>
        <div class="form-group">
            <input type="submit" value="Sign In" class="btn btn-primary">
        </div>
    }
}