@(user: models.users.User, env: play.api.Environment)
@main("Profile",user){
    <div class="row">
        <div class="col-sm-3">
            <div class="profilePic">
                @if(env.resource("public/images/profileImages/" + user.getEmail + "profile.jpg").isDefined){
                    <img src="/assets/images/profileImages/@(user.getEmail + "profile.jpg")"/>
                } else {
                    <img src="/assets/images/profileImages/noImage.png"/>
                }
            </div>
                <p>
                        <a href="@routes.EmployeeController.addProfileImage(user.getEmail)">
                            <button class="btn btn-primary">Add a profile image</button>
                        </a>
                    </p>
</div>
        <div class="col-sm-9">
            <h3>Name: @user.getName()</h3>
            <h3>Email: @user.getEmail()</h3>
            

        </div>
</div>
}